* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
    font-family: "Nunito", Serif;
    font-size: 18px;
    line-height: 26px;
    color:#000000;

}

body {
  font-family: "Roboto Slab", serif ;
}

.header {
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(180, 180, 180, 0.10);
}

.nav-container{
    max-width: 1312px;
    margin: 0 auto;
    padding: 16px ;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-btn{
    padding: 12px 18px ;
    font-family: "Roboto Slab", serif;
    background-color: #fff;
    border: 1px solid #FF4F03 ;
    font-size: 18px;
    border-radius: 16px;
}

.nav-btn:hover {
  background-color: #FF4F03; 
  color: #fff;
}

.Hero-Section{
     background-color: #F9F9FA ;
}

.hero-container{
    max-width: 1312px;
    margin: 0 auto;
    padding: 160px 24px;
    align-items: center;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
h1 {
    font-size: 64px;
    line-height: 68px;
    margin-bottom: 16px;
    color:#1D3970;
}

.section-heading h2 {
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 16px;
    color: #1D3970;
}
 #Benefits .card h4{
    font-size: 28px;
    padding-bottom: 16px;
}
.btn-container{
    margin-top: 30px ; 
    display: flex;
    gap: 16px;
}

.Hero-primary-btn{
    padding: 12px 18px ;
    font-family: "Roboto Slab", serif;
    background-color: #FF4F03;
    color: #fff;
    font-size: 18px;
    border-radius: 16px;
    border: none;
}

.Hero-secondary-btn{
    padding: 12px 18px ;
    font-family: "Roboto Slab", serif;
    background-color: #fff;
    border: 1px solid #FF4F03 ;
    font-size: 18px;
    border-radius: 16px;
}

 .section-heading{
    max-width: 648px;
    text-align: center;
    margin: 0 auto;
    
}

#Benefits{
   
    max-width: 1312px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
  
}

.card-container{
    max-width: 1312px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#Benefits .card{
  
    background-color: #fff;
    max-width: 417px;
    box-shadow: 0 6px 10px 0 rgba(200, 200, 200, 0.22);
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    
}

#Benefits .card-container .card .icon{
    
    border: 1px solid #FF4F03 ;
    border-radius: 16px ;
    padding: 16px;
    margin-bottom: 30px;
}

#how-it-works {
    background-color: #F9F9FA ;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 36px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#how-it-works .section-heading {
    text-align: left;
    margin: 0;
    max-width: 526PX;
}
.steps{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
 .step-item{
    display: flex;
    align-items: center;
    gap: 12px;
}

.number{
    border: 1px solid #FF4F03 ;
    padding: 12px;
    gap: 16px;
    border-radius: 8px;
    color: #FF4F03;
}

#footer-container {
    margin-top: 100px;
    background-color: #1D3970 ;
    padding: 100px;
}

.footer-top {
    max-width: 588px ;
    margin: 0 auto ;
    text-align: center;
}
.footer-bottom{
    padding-top: 60px ;
    display: flex;             
    justify-content: space-between; 
    align-items: center;     
}
#footer-container p {
    color: #FFFFFF ;
}

#footer-container li {
    color: #FFFFFF ;
    text-align: center;
     align-items: center;
}

.login-bar{
    background-color: #FF4F03;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}