* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif ;
}

.header {
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(180, 180, 180, 0.10);
}

.nav-container{
    max-width: 1312px;
    margin: 0 auto;
    padding: 16px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-btn{
    padding: 12px 18px ;
    font-family: "Roboto Slab", serif;
    background-color: #fff;
    border: 1px solid #FF4F03 ;
    font-size: 18px;
    border-radius: 16px;
}

.nav-btn:hover {
  background-color: #FF4F03; 
  color: #fff;
}

.Hero-Section{
     background-color: #F9F9FA ;
}

.hero-container{
    max-width: 1312px;
    margin: 0 auto;
    padding: 160px 24px;
    align-items: center;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
h1 {
    font-size: 64px;
    line-height: 68px;
    margin-bottom: 16px;
    color:#1D3970;
    l
}

.btn-container{
    margin-top: 30px ; 
    display: flex;
    gap: 16px;
}

.Hero-primary-btn{
    padding: 12px 18px ;
    font-family: "Roboto Slab", serif;
    background-color: #FF4F03;
    color: #fff;
    font-size: 18px;
    border-radius: 16px;
    border: none;
}

.Hero-secondary-btn{
    padding: 12px 18px ;
    font-family: "Roboto Slab", serif;
    background-color: #fff;
    border: 1px solid #FF4F03 ;
    font-size: 18px;
    border-radius: 16px;
}